<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MugVPN</string>
	<key>CFBundleExecutable</key>
	<string>MugVPN</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.mugvpn.app</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>cs</string>
		<string>de</string>
		<string>da</string>
		<string>el</string>
		<string>es</string>
		<string>fa</string>
		<string>fi</string>
		<string>fr</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>nl</string>
		<string>nb</string>
		<string>pl</string>
		<string>pt-BR</string>
		<string>ru</string>
		<string>sv</string>
		<string>tr</string>
		<string>uk</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleName</key>
	<string>MugVPN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.3</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 The MugVPN authors. MIT License.</string>
</dict>
</plist>
